body {
    margin: 4px;
    padding: 4px;
    background-color: #17a2b8;
    height: 100vh;
}

.list-group {
    margin-top: 60px;
    max-width: 600px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
}

.list-group-item {
    background-color: #EAEAEA;
    color: #333333;
    border-color: #9C9C9C;
}

.list-group-item.active {
    background-color: #17a2b8;
    color: #FFFFFF;
    border-color: #17a2b8;
}

.list-group-item:hover {
    background-color: #138496;
    color: #FFFFFF;
    border-color: #138496;
}

.list-group-item:focus {
    background-color: #17a2b8;
    color: #FFFFFF;
    border-color: #17a2b8;
}
